/* Toast.css */
@keyframes mymove {
  from {right: -100px;}
  to {right:40px;}
}

.toast {
    position: fixed;
    top: 100px;
   
    
    
    color: #fff;
   
    border-radius: 5px; 
     animation: mymove 5s infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    
    opacity: 0;
}
  
  .toast.show {
    opacity: 1;
  }
  