/* Toast.css */

.toast {
    position: fixed;
    bottom: 400px;
    left: 50%;
    transform: translateX(-50%);
    background-color: gray;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px; 
    border: 2px dotted tomato;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
  
  .toast.show {
    opacity: 1;
  }
  